# Why use pandas
The three library panda , numpy and matplot work together<br /> 
It helps to create dataframe<br /> 
panda objects are:<br /> 
 array +tables<br /> 
## Installation : <br /> 
 #### pip install pandas

In [2]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a','b','c']
#list array
my_list = [10,20,30]

#numpy array
arr=np.array([10,20,30])

#dictonary
d={'a':10,'b':20,'c':30}
a=pd.Series(d)
a['a']
a['c']

30

In [4]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=arr)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(index=labels,data=arr)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(labels,arr)

10    a
20    b
30    c
dtype: object

# What did we do now
So we basically created a pandas series it consist of two parts one is called indexs and other is called the data using the index we can acess the data at that index by default pd.Series(index_list,data_list)

In [3]:
ser1=pd.Series([1,2,3,4],index={'USA','Germany','USSR','Japan'})

In [4]:
ser1

Germany    1
USA        2
Japan      3
USSR       4
dtype: int64

In [5]:
ser2=pd.Series([1,2,5,4],index={'USA','Germany','Italy','Japan'})

In [6]:
ser2

Germany    1
USA        2
Japan      5
Italy      4
dtype: int64

In [7]:
ser1+ser2

Germany    2.0
Italy      NaN
Japan      8.0
USA        4.0
USSR       NaN
dtype: float64

Panadas uses index to add 2 series or make any changes while performing any operations if the same index is not found in the other series a NaN value is stored in it